.input {
    width: 100%;
  input {
    padding: 20px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-top: 10px;
    background-color: whitesmoke;
    
}
  }
  button {
    padding: 20px;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
  
}
