.navbar {
  min-width: 300px;
  font-family: sans-serif !important;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
  margin-top: 0 !important;

  &.menu-open {
    .menu-items {
      display: flex;
      width: 100%;
      justify-content: center;
      left: 0;
      top: 70px;
    }
  }
  .menu-icon {
    cursor: pointer;
    margin-right: 10px;
  }

  .center {
    margin: 0 auto;
    font-size: 40px;
    font-family: "Mooli", sans-serif;
  }

  .link {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;

    &:hover {
      color: #263196;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .icons {
      display: flex;
      align-items: center;
      margin-right: 10px;
      cursor: pointer;
    }
    .icon {
      margin: 5px;
    }
    .cartIcon {
      position: relative;
      cursor: pointer;

      span {
        font-size: 12px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #263196;
        color: white;
        position: absolute;
        right: -10px;
        top: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .menu-items {
    width: max-content;
    display: none;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 55px;
    left: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    font-size: 15px;
    text-transform: uppercase;

    .item {
      margin: 10px 0;
      display: flex;
      align-items: center;
      margin: 10px;
    }

    .MuiSvgIcon-root {
      font-size: 18px;
      margin-left: 5px;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;

    .menu-icon {
      margin-left: 0 !important;
    }
      .center {
        font-size: 30px;
      }
     
    }
  }

