.navbar{
    height: 80px;
    .wrapper{
       padding: 10px 30px; 
       display: flex;
       justify-content: space-between;

       .item{
        display: flex;
        align-items: center;
        font-size: 18px;
       }
       .left{
            display: flex;
            align-items: center;
            gap: 20px;
       }
       .center{
        align-self: center;
        font-size: 30px;
        letter-spacing: 2px;
       }
       .right{
        display: flex;
        align-items: center;
        gap: 20px;
       }

       .icons{
        display: flex;
        gap: 10px;
        color: #777;
        cursor: pointer;

        .cartIcon{
            position: relative;
            span{
                font-size: 12px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #263196;
                color: white;
                position: absolute;
                right: -10px;
                top: -10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
       }
    }
}